[Unit]
Description=elepn daemon
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/xrayd
Restart=on-failure

[Install]
WantedBy=multi-user.target
